$title-h1_desktop: 26px;
$title-h2_desktop: 14px;
$title-h3_desktop: 14px;

$text-fsize-L: 16px;
$text-fsize-M: 11px;
$text-fsize-S: 10px;

:root {
  --title-h1_desktop: #{$title-h1_desktop};
  --title-h2_desktop: #{$title-h2_desktop};
  --title-h3_desktop: #{$title-h3_desktop};

  --text-fsize-L: #{$text-fsize-L};
  --text-fsize-M: #{$text-fsize-M};
  --text-fsize-S: #{$text-fsize-S};
}
