@use '../../../shared/ui/common styles/index' as ui_common;

.skills {
  // Position

  // block-model

  // Typography

  // Decoration

  // Animation

  // Various
}

.skills__container {
  // Position

  // block-model
  width: 100%;
  row-gap: var(--gap-beetween-paragraphs);

  // Typography

  // Decoration

  // Animation

  // Various
}

.skills__info-container {
  // Position

  // block-model
  row-gap: var(--gap-beetween-paragraphs);

  // Typography

  // Decoration

  // Animation

  // Various
}
